.newsletter{
    background:url('../../public/images/newsletter/newsletter-bg.jpg') no-repeat;
    position:relative;
}
.newsletter::before{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(246,36,89,0.85);
}
.newsletter h3{
    color:#fff;
    position:relative;
    z-index:3;
}
.newsletter-text,
.newsletter-form{
    z-index:3;
    position:relative;
}
.newsletter-form {
    margin-top:34px;
}
.newsletter-form button,
.newsletter-form input{
    height:44px;
    line-height:44px;
}
.newsletter-form button{
    padding:0 70px;
    color:#fff;
    border:1px solid #fff;
}
.newsletter-form input{
    border-radius:30px;
    padding-left:30px;
}
.newsletter .container{
    
}
.newsletter-phone-img{
    position:absolute;
    bottom:0;
    right:100px;
    width:350px;
    height:432px;
    background:url('../../public/images/newsletter/news-phone.png') ;
}